<div class="modal fade" bsModal #productModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Header of product modal -->
            <div class="modal-header modal-model">
                <h4 id="dialog-static-name" class="modal-title">{{title}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="productModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Body of product modal -->
            <div class="modal-body">
                <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()">
                    <fieldset>
                        <div class="row form-group">
                            <div class="form-group col-md-4">
                                <label for="productName">Name:</label>
                                <input type="text" formControlName="name" class="form-control" id="productName"
                                       placeholder="Enter product name"
                                       [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Product Name is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4" formGroupName="category">
                                <label for="categoryName">Category Name:</label>
                                <div class="" dropdown>
                                    <select id="categoryName" class="input-sm form-control cus-dropdown"
                                            data-container="body" data-size="10" data-width="100%"
                                            data-select-on-tab="true"
                                            data-none-selected-text="" tabindex="0" style="width:100%;"
                                            formControlName="id"
                                            [ngClass]="{ 'is-invalid': submitted && f.category.get('id').errors }">
                                        <option value="" disabled [selected]="selectedProduct === null">- Select
                                            Category -
                                        </option>
                                        <option [value]="c.id" *ngFor="let c of categories"
                                                [selected]="selectedProduct?.category.id === c.id">
                                            {{c.name}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && f.category.get('id').errors"
                                     class="invalid-feedback invalid-select">
                                    <div *ngIf="f.category.get('id').errors.required">Category is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4" formGroupName="supplier">
                                <label for="supplierName">Supplier Name:</label>
                                <div class="" dropdown>
                                    <select id="supplierName" class="input-sm form-control cus-dropdown"
                                            data-container="body" data-size="10" data-width="100%"
                                            data-select-on-tab="true"
                                            data-none-selected-text="" tabindex="0" style="width:100%;"
                                            formControlName="id"
                                            [ngClass]="{ 'is-invalid': submitted && f.supplier.get('id').errors }">
                                        <option value="" disabled [selected]="selectedProduct === null">- Select
                                            Supplier -
                                        </option>
                                        <option [value]="s.id" *ngFor="let s of suppliers"
                                                [selected]="selectedProduct?.supplier.id === s.id">
                                            {{s.name}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && f.supplier.get('id').errors"
                                     class="invalid-feedback invalid-select">
                                    <div *ngIf="f.supplier.get('id').errors.required">Supplier is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="form-group col-md-4">
                                <label for="productColor">Color:</label>
                                <input type="color" formControlName="color" id="productColor" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="quantityInStock">Quantity:</label>
                                <input type="number" formControlName="quantityInStock" class="form-control" min="0"
                                       id="quantityInStock" placeholder="Enter product quantity"
                                       [ngClass]="{ 'is-invalid': submitted && f.quantityInStock.errors }">
                                <div *ngIf="submitted && f.quantityInStock.errors" class="invalid-feedback">
                                    <div *ngIf="f.quantityInStock.errors.required">Quantity is required</div>
                                    <div *ngIf="f.quantityInStock.errors.min">Invalid Quantity</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="productPrice">Price:</label>
                                <input type="number" formControlName="price" class="form-control" id="productPrice"
                                       placeholder="Enter product price" min="0"
                                       [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                    <div *ngIf="f.price.errors.required">Price is required</div>
                                    <div *ngIf="f.price.errors.min">Invalid Price</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="form-group col-md-12">
                                <label for="productDescription">Description:</label>
                                <textarea formControlName="description" class="form-control"
                                          id="productDescription" cols="100%"
                                          placeholder="Enter product description"
                                          [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                </textarea>
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required">Description is required</div>
                                    <div *ngIf="f.description.errors.minlength">Description must be at least 5
                                        characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="form-group col-md-4">
                                <label>Is Active&nbsp;
                                </label>
                                <input type="checkbox" formControlName="active" id="checkboxActive">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-3">
                                <label for="fileUpload" style="cursor: pointer">
                                    <span>Attachment: </span>
                                    <i class="fa fa-upload"></i>
                                </label>

                            </div>
                            <div class="col-md-9">
                                <input #fileInput type="file" id="fileUpload" accept="image/*"
                                       class="file-attach-cls"
                                       name="file[]" multiple=""
                                       (change)="uploadAttachment($event)">
                                <div *ngFor="let att of selectedAttachment; let idx = index;">
                                    <div class="form-group row">
                                        <div class="col-md-4" *ngIf="validateFile(att)">
                                            <img [src]="att.attachment_file" class="img-thumbnail" alt="img"
                                                 style="max-width: 100px">
                                        </div>
                                        <div class="col-md-4 invalid-file" *ngIf="!validateFile(att)">
                                            <p>Invalid image or file > 2 MB</p>
                                        </div>
                                        <div class="col-md-4">
                                            <a *ngIf="att.fileName" style="cursor: pointer;"
                                               (click)="downloadFile(att)" title="Download">
                                                {{att.fileName}}
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-danger btn-sm" title="Delete file"
                                                    (click)="removeFile(idx)" *ngIf="att.fileName">
                                                <i class="fa fa-trash"></i>&nbsp;Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </fieldset>

                    <!-- Footer of product modal -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" (click)="productModal.hide()">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="loading-wrapper" class="loading-wrapper" *ngIf="isShowLoading">
    <div class="blockUI blockMsg blockElement">
        <h4>
            <img [src]="'/assets/images/loading.gif'">
            <span class="loading-text">
        Please wait...
      </span>
        </h4>
    </div>
    <div class="blockUI blockOverlay"></div>
</div>


