@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import "~font-awesome/css/font-awesome.css";
/* You can add global styles to this file, and also import other style files */
.btn-space {
    margin-right: 5px;
}

.btn-space-low {
    margin-bottom: 15px;
}

ngx-datatable {
    width: 100%;
    margin: 10px 0px;
}

.actionButton button {
    margin-right: 3px;
}


.file-attach-cls {
    display: none;
}

.invalid-select {
    display: block;
}

.modal-model {
    background-color: #563d7c;
    color: white;
    text-align: center;
}

.modal-model span {
    color: white;
}

.invalid-file p {
    color: red;
    font-size: 13px;
}

.loading-wrapper {

}

.blockMsg {
    z-index: 999999;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 30%;
    top: 40%;
    left: 38%;
    text-align: center;
    color: black;
    border: none;
    background-color: white;
    cursor: wait;
}

.blockOverlay {
    z-index: 999999;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0.6;
    cursor: wait;
    position: absolute;
}

.blockUI h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blockUI.blockOverlay {
    background-color: #e9e9e9;
    opacity: 0.6;
}

